// ----自分で作成
// *{
//   border: solid gold 1px;
// }

// アニメーション
section{
	opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}

/*アニメーション要素までスクロールした時のスタイル*/
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.pet-livers{
  // max-width: 1170px;
   margin: 0 auto; 

  h1{
    font-size: 50px;
    text-align: center;
    margin: 20px 0px 20px 0px;
  }

  .container-livers{
    // width: 1050px;
    // height: 1000px;

    background-color: black;

   .box-livers1{
     display: flex;
     justify-content: space-around;
     padding-top: 97px;
     padding-left: 10.6%;
     padding-right: 10.8%;
   } 

   .box-livers2{
     margin-top: 21.93px;
     display: flex;
     justify-content: space-around;
     padding-left: 10.6%;
     padding-right: 10.8%;
     padding-bottom: 94.2px;
   } 

   .livers{
    width : 24.1%;
    // height :28.4%;
    border: solid pink 1px;
    padding-top: 22px;
    background-color: white;
   }

   #Alice{
    border: 3.79px solid #EA5555;
   }

   #Nancy{
    border: 4.42px solid #A817FB;
   }

   #Mat{
    border: 3.15px solid #F0C83B;
   }

   #Oscar{
    border: 3.79px solid #E16A6E;
  }

   #Nataly{
    border: 3.79px solid #E16A6E;
   }

   #Zach{
    border: 3.15px solid #ED61F6;
   }

   #John{
    border: 3.79px solid #52F1BF;
   }

   #Simona{
    border: 3.79px solid #55B0EA;
   }
  }
  // pet-livers
}

// sponser
.sponser{
  width: 1170px;
  margin: 0 auto;

  h1{
    font-size: 46px;
    text-align: center;
    margin: 20px 0px 20px 0px;
  }

.sponser1{
  margin: 0 auto;
  // 279/1501
  padding-left: 19.8%;
  // 293/1501
  padding-right: 19.5%;

  #animal-rights{
    // 1410/1501
    width: 94%;
    margin: 0 auto;
}
  }

.sponser2{
  // // margin: 0 auto;
  // // padding-top: 83px;
  // // 739/1501
  // padding-left: 49.2%;
  // // 681/1501
  // padding-right: 45.3%;
  // margin-top: 83px;

 #animal-foundation{
  //  580/1501
   width: 300px;
   margin: 0 auto;

  // padding-top: 83px;
  // 739/1501
  // padding-left: 49.2%;
  // 681/1501
  // padding-right: 45.3%;
  // margin-top: 83px;
 }
}

  h5{
    font-size: 26px;
    text-align: center;
  }

  // sponser
}


// customer-voice
.customer-voice{
  margin: 0 auto;
  width: 1170px;
  // position: relative;

  .deco-voice{
    position: relative;

    img{
      position: absolute;
    }

    #left-top{
      top: -40px;
      left: -100px;
      width: 8%;
    }

    #left-bottom{
      top: 350px;
      left: -100px;
      width: 17.8%;
    }

    #right-top{
      left: 1000px;
      top: -40px;
      width: 19.5%;
    }

    #right-bottom{
      top: 350px;
      left: 1000px;
      width: 11%;
    }
  }

h1{
  font-size: 46px;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.container-customer-voice{
  display: flex;
}
}

.container-customer-voice{
  display: flex;

.voice-left{
  // // 293/2000
  // padding-left: 14.7%;
  // // 1068/2000
  // padding-right: 53.4%;

  img{
    // 639/2000
    // width: 54.6%;
    width: 400px;
    box-shadow: -15px 15px 0 #E7AFC3;;
  }
}

.voice-right{
  width: 600px;
  margin-top: 130px;
  margin-left: 135px;
// 1067/2000
// padding-left: 53.4%;

h3{
  font-size: 20px;
}

p{
width: 350px;
}
}
// customer-voice
}

// company
.company{
  width:1170px;
  margin: 0 auto;
  h1{
    font-size: 46px;
    text-align: center;
    margin: 20px 0px 20px 0px;
  }

 .container-company{
   display: flex;

   h2{
   font-size: 36px;
   }

   h3{
     font-size: 20px;
   }
 }

.company-left{
// 224/1170
padding-left: 19.1%;

width:550px
}

.company-right{
  // 209/1170
  // padding-right: 17.8%;

  iframe{
    width:550px
  }
}
}


// レスポンシブ対応
@media screen and (max-width: 767px) {
  // pet-livers
  .pet-livers{
    width: 1100px;

    h1{
      font-size: 40px;
      text-align: center;
    }

    .container-livers{
      height: 8835px;
    }

    .box-livers1{
      display: block;
      // height: 4420px;
    }

    .box-livers2{
      display: block;
      // height: 4420px;
    }


  // pet-livers
  }


  // sponser
.sponser{
  width: 1100px;

  h1{
    font-size: 40px;
    text-align: center;
  }

  #animal-rights{
    // 175/1100
    padding-left: 15.9%;
    // 162/1100
    padding-right: 14.7%;
  }

  #animal-foundation{
    margin: 0 auto;
  }

  h5{
    display: none;
  }
  // sponser
}  


// customer-voice
.customer-voice{
  width: 1100px;
  margin: 0 auto;

  h1{
    font-size: 40px;
    text-align: center;
  }

  .deco-voice{
    display: none;
  }

.container-customer-voice{
  display: block;
  margin: 0 auto;
}

.voice-left{
  margin: 0 auto;
}

// customer-voice
}

// company
.company{
  width: 1100px;

  h1{
    font-size: 40px;
    text-align: center;
  }

  .container-company{
    display: block;
    margin: 0 auto;
  }

  .company-left{
    padding-left: 0px;
    margin: 0 auto;
  }

  .company-right{
    padding-top: 40px;
    
    margin: 0 auto;
  }
// company 
}


// レスポンシブ大外のカッコ
}